.m-btn--custom {
    margin-bottom: 2.2rem !important;
}

.m--padding__right-0 {
    padding-right: 0px !important;
}

.m--margin-bottom-20 {
    margin-bottom: 20px
}

.m-button-right {
    float: right !important;
}

.m--margin-bottom-30 {
    margin-bottom: 30px
}

.m--padding-bottom-20 {
    padding-bottom: 20px
}

.m-text-align-center {
    text-align: center !important;
}

.m--padding-bottom-10 {
    padding-bottom: 10px
}

.m--padding-bottom-0 {
    padding-bottom: 0px
}

.m-margin__top-0 {
    margin-top: 0 !important
}
